@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --Pink: hsl(322, 100%, 66%);
    --Light_Pink: hsl(321, 100%, 78%);
    --Light_Red: hsl(0, 100%, 63%);
    /* Neutral */
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Very_Pale_Blue: hsl(207, 100%, 98%);
}

body{
    /* padding: 0 5%; */
    
    font-family: 'Open Sans', sans-serif;
}

button{
    
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

nav img{
    height: 30px;
}


nav>button {
    border: 1.5px solid var(--Pink);
    border-radius: 25px;
    color: var(--Pink);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 2px var(--Light_Pink);
    cursor: pointer;
    padding:5px 25px;
    align-self: center;

}

nav > button:hover {
    border: 1.5px solid var(--Light_Pink);
    color: var(--Light_Pink);
}

.Intro{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Very_Dark_Cyan);
    gap: 35px;
    padding: 0 50px;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.Intro h1{
    text-align: center;
}

.Intro p{
    text-align: center;
    align-self: center;
    width: 500px;
}

.Intro button{
    background-color: var(--Pink);
    border: none;
    padding: 15px 55px;
    color: var(--Very_Pale_Blue);
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(196, 191, 191);
    cursor: pointer;
    margin-bottom: 100px;
}

.Intro button:hover{
    background-color: var(--Light_Pink);
}

.Intro img{
    max-width: 700px;
}

.stats h1{
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.stats{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    padding: 0 100px;
}

.stats p{
    text-align: center;
    margin-top: 0px;
    color: hsla(192, 100%, 9%, 0.559);

}

.info{
    display: flex;
   justify-content:space-evenly;
   align-items: center;
   margin-top: 200px;

    
}

.info figure img{
    width: 500px;
}

.info .content{
    align-self: center;
margin: 0;
max-width: 500px;
}

.callToAction{
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
}

.callToAction button{
    align-self: center;
    cursor: pointer;
    background-color: var(--Pink);
    border: none;
    padding: 15px 55px;
    color: var(--Very_Pale_Blue);
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(196, 191, 191);
}
.callToAction button:hover{
    background-color: var(--Light_Pink);
}

footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top:350px ;
    gap: 200px;
    padding: 100px 100px;
    position: relative;
     background-color: #00252E;

}
.footerLogo{
    /* display: flex; */
    height: 50px;
}

footer img{
    display: flex;
    fill: white;
    justify-content: flex-start;
    align-self: start;

}

/*  */

.Icon{
  /* margin-bottom: 30px; */
  fill: #fff;
  height: 20px;
  
    
}

footer .contactus{
    display: flex;
    gap: 25px;
    margin: 30px 0;
    /* align-self: start; */

}
footer .HuddleLeftside > p{
    padding-top: 30px;
    padding-right: 250px;
}


footer .NewLetter{
    display: flex;
    flex-direction: column;
 gap: 30px;
}
footer .NewLetter p{
 
    max-width: 590px;
    margin-right: 100px;
}

footer button{
    cursor: pointer;
    background-color: var(--Pink);
    border: none;
    padding: 15px 55px;
    color: var(--Very_Pale_Blue);
    font-weight: bold;
    border-radius: 5px;
}

footer input{
    min-width: 300px;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    /* cursor: pointer; */
    outline: none;
}

footer input:hover{
    outline: 2px solid var(--Pink);

}

footer .sub{
    display: flex;
    gap: 10px;

}

footer button:hover{
    background-color: var(--Light_Pink);
}

footer > img{
    position: absolute;
    top: -165px;
    right: 0px;

}

.info.one{
    background-color: #F6FBFF;
    position: relative;
}

.info.one .bgtop{
    position: absolute;
    top: -165px;
    right: 0px;
}

.info.one .bgbtm{
    position: absolute;
    bottom: -145px;
    right: 00px;
}

.info.three .bgtop{
    position: absolute;
    top: -163px;
    right: 0px;
}

.info.three .bgbtm{
    position: absolute;
    bottom: -145px;
    right: 00px;
}

.info.three {
    background-color: #F6FBFF;
    position: relative;
}



